
# Dependencies
node_modules/
.vite/
# Build outputs
dist/
# Environment variables
.env
.env.local
.env.*.local
# Logs
*.log
# ignore large video files
/springboot/src/main/resources/static/videos/
*.mp4

